p{
  font-family: ten-mincho, serif; 
  font-weight: lighter;
}

.cafe_slide{
  padding: 40px;
  background: #C1E6D9;
  position: relative;
  
}

.slide_left{
  padding: 50px 50px 80px;
  margin: 0 20px;
  background: #FFFFF5;
  text-align: center;
}

.cafe_text_box{
  position: relative;
  left: -30%;
} 

.slide_left h1{
  font-size: 50px;
  color: #7FA6A0;
  line-height: 25px;
}

.slide_left h3{
  color: #948175;
  line-height: 10px;
}

.slide_left p{
  font-size: 13px;
}

.slide_left img{
  margin: 17px;
}

/* スライド右コンテンツ */
.slide_right{
  margin-right: 20px;
  width: 600px;
  position: absolute;
  top: 10px;
  left: 50%;
  text-align: center;
}

.right_contents{
  position: absolute;
  top: 100px;
  width: 380px;
  left: 50%;
  transform: translateX(-50%);
}

#cafe_icon{
  position: absolute;
  bottom: 100px;
  right: 50%;
  transform: translateX(50%);
}

#cafe_h2{
  margin: 0;
  position: relative;
  top: -180px;
  color: #948175;
}

.right_contents h2{
  color: #948175;
}

.cafe_slide_image_conteiner{
  width: 380px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  /* display: inline-block; */
}

.cafe_slide_contents{
  display: block;
}

/* いちごスイーツ */
.cafe_container{
  position: relative;
}

.sweets_wrap{
  background: #FFECDF;
  padding: 100px 0 200px;
  position: relative;
}

.sweets_container{
  padding: 0 80px;
  background: #FFECDF;
  position: relative;
}

#sweets_back{
  position: relative;
  left: 50%;
  top: 80px; 
  transform: translate(-50%, 0);
  /* max-width: 100%;
  height: auto;
  position: relative;
  top: 80px; */
}

.sweets_contents{
  margin: 10px 20px;
  position: absolute;
  top: 0px;
  left: 50%;
  transform: translate(-50%, 0);
  text-align: center;
}

/* ショートケーキの写真 */
#topimage_box{
  width: 700px;
  height: 450px;
  overflow: hidden;
  border-radius: 30px;
}

#cafe_topimage{
  width: 100%;
  height: auto;
  /* transform: scale(1);
  transition: .4s; */
}

#cafe_topimage:hover{
  /* transform: scale(1.1);
  transition: .3s; */
}

/* タイトル */
.sweets_title{
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translate(-50%, 0);
}

.sweets_title h3{
  margin: 0;
  font-size: 12px;
}
.sweets_title h1{
  margin: 0 0 30px;
  font-size: 30px;
  line-height: 30px;
}

.sweets_title_text{
  position: relative;
  top: -110px;
}

/* 詳細 */
.sweets_main {
  position: relative;
  top: 300px;
}

.sweets_main h2{
  margin: 30px;
}

.sweets_main p{
  font-size: 12px;
  line-height: 20px;
}

.sub_container{
  margin: 100px 100px 60px; 
  display: flex;
  width: 550px;
  justify-content: space-between;
}

.sub_box{
  color: #534741;
  font-size: 12px;
}

/* いちごの秘密 */
.secret_wrap{
  background: url(../img/common/pattern_2.png) repeat;
  padding: 100px;
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
}

.secret_container{
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
  text-align: center;
  position: relative;
}


.secret_wrap .sweets_title_text{
  position: absolute;
  top: -30px;
  left: 50%;
  transform: translateX(-50%);

}

.secret_wrap .sweets_title_text h1{
  margin: 0 0 10px;
}
.secret_wrap .sweets_title_text h3{
  
  font-size: 12px;
  margin: 0;
}
.secret_wrap .sweets_title_text p{
  font-size: 13px;
}

#secret_title_img{
  position: absolute;
  top: -40px;
  left: 50%;
  transform: translateX(-50%);
}

.secret_img_container{
  position: absolute;
  top: 300px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}

.secret_title{
  width: 220px;
  height: 50px;
  background: #fffff5;
  /* border: double #C1AA80 1px; */
  border: solid 1px #C1AA80;    	/* 内側の線になる一本線の枠線をひく*/
	outline: solid 1px #C1AA80;    /* 外側の線になる一本線の枠線をひく*/
	outline-offset: 1.5px;        /* 外側の線と内側の線の空き具合を調整*/
	margin: 2px;  
  font-family: ten-mincho, serif; 
  font-size: 20px;
  text-align: center;
  line-height: 50px;
}

.secret_text{
  padding: 40px 30px 20px;
  width: 160px;
  background: #EBE3CA;
  font-family: maru-maru-gothic-blr-stdn, sans-serif;
  font-size: 11px;
  position: relative;
  left: 20px;
  top: -20px;
  z-index: -10;
  text-align: left;
}

.secret_box_container{
  display: flex;
  width: 800px;
  justify-content: space-between;
}

#secret-1{
  position: relative;
  top: -200px;
}
#secret-2{
  position: relative;
  top: 20px;
}
#secret-3{
  position: relative;
  top: -180px;
}

.arrow{
  position: absolute;
  z-index: -10;
  transform: scale(0.9);
}

#arrow-1{
  top: 20px;
}
#arrow-2{
  top: -40px;
}
#arrow-3{
  top: 0px;
  left: -100px;
}